body {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.body {
    background-color: rgb(51, 51, 51);
    width:320px;
    height:400px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}
.logo {
    margin-left: 9%;
    margin-top: 7.5px;
    margin-bottom: 5px;
    color: aliceblue;
    font-weight: bold;
    font-style: italic;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}                               span {font-style: normal;}
.screen {
    background-color: rgb(19, 88, 35);
    height: 70px;
    margin-right:auto;
    margin-left: auto;
    width: 280px;
    border-radius: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-family: monospace;
    font-size: xx-large;
    z-index: 1;
}
.underscreen {
    height: 20px;
    background-color: beige;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.buttons {
    width: 280px;
    margin-right:auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    flex-grow: 1;
    margin-top: 30px;
    margin-bottom: 20px;
} 
.button {
    width:50px;
    flex-grow: 1;
    font-family: monospace;
    font-size: large;
    background-color: rgb(17, 0, 255);
    font-weight: bold;
    font-size: 23px;
}

.sign {
    background-color: black;
    color: whitesmoke;
    font-size:30px;
    font-weight: bolder;
}